/* --+--+----------------------------+--+-- */
/* --+--+-- CORE STYLES -------------+--+-- */
/* --+--+----------------------------+--+-- */
* {
	transition: all 0.5s;
}

body {

	--footer-height: 40px;
	--navbar-height: 70px;
	--sidebar-icon-size: 24px;
	--sidebar-padding: 4px;

	--color-primary: 200;

	--color-background-Xdark: hsl(var(--color-primary), 20%, 8%);
	--color-background-dark: hsl(var(--color-primary), 20%, 12%);
	--color-background-main: hsl(var(--color-primary), 20%, 15%);
	--color-background-light: hsl(var(--color-primary), 20%, 18%);
	--color-background-Xlight: hsl(var(--color-primary), 20%, 30%);

	--color-background-accent-dark: hsl(var(--color-primary), 75%, 5%);
	--color-background-accent-main: hsl(var(--color-primary), 100%, 50%);
	--color-background-accent-light: hsl(var(--color-primary), 25%, 40%);

	--color-font-main: hsl(var(--color-primary), 30%, 95%);
	--color-font-inverse: hsl(var(--color-primary), 30%, 5%);

	font-family: 'Helvetica', sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--color-background-main);
	color: var(--color-font-main);
}

	svg {
		color: var(--color-font-main);
	}

	.h-100 {
		height: 100%;
	}

	a {
		cursor: pointer;
	}

/* --+--+----------------------------+--+-- */
/* --+--+-- NAVBAR STYLES -----------+--+-- */
/* --+--+----------------------------+--+-- */
#navbar {
	height: var(--navbar-height);
	margin: 0;
	padding: 0;
	background-color: var(--color-background-Xdark);
	border-bottom: 1px solid var(--color-background-light);
}

	#navbar * {
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
		white-space:nowrap;
		color: var(--color-font-main);
	}


/* --+--+----------------------------+--+-- */
/* --+--+-- APP WINDOW STYLES -------+--+-- */
/* --+--+----------------------------+--+-- */
#app-window {
	height: calc(100% - var(--navbar-height) - var(--footer-height));
	width: 100%;
	background-color: var(--color-background-dark);
	border-bottom: 1px solid var(--color-background-light);
	margin: 0;
	padding: 0;
}


/* --+--+----------------------------+--+-- */
/* --+--+-- APPLET STYLES -----------+--+-- */
/* --+--+----------------------------+--+-- */
#applet {
	--applet-header-height: 40px;
	height: calc(100% - 0px);
	width: calc(100% - 250px);	
	float: right;
	border-radius: 5px;
	margin: 0;
	padding: 5px;
	background-color: var(--color-background-main);
}
	#applet h1 {
		font-size: 2em;
		font-weight: bold;
		color: var(--color-background-accent-main);
	}

	#applet h2 {
		font-size: 1.5em;
		font-weight: bolder;
		color: var(--color-background-accent-light);
		border-bottom: 1px solid var(--color-background-accent-light);
	}

	#applet h3 {
		font-size: 1.1em;
		font-weight: bold;
		font-style: italic;
		color: var(--color-background-accent-light);
	}

	#applet h4 {
		font-size: 0.9em;
		font-weight: normal;
		color: var(--color-font-main);
	}

	#applet h5 {
		font-size: 0.8em;
		font-style: italic;
	}

	#applet h6 {
		font-size: 0.8em;
	}

	#applet p {
		font-size: 1em;
		text-align: justify;
		text-justify: auto;
		margin-bottom: 10px;
	}

	#applet ul {
		padding-left: 15px;
	}

	#applet li {
		
	}

/* Style the view container header */
.view-header {
	width: 100%;
	height: var(--applet-header-height);
}

	.view-header * {
		color: var(--color-font-main);
		overflow: hidden;
		white-space:nowrap;
		text-overflow: ellipsis;
	}

	.view-header .title {
		width: fit-content;
		height: calc(var(--applet-header-height) - 4px);
		line-height: calc(var(--applet-header-height) - 4px);
		font-size: 2em;
		margin: 2px calc(var(--sidebar-icon-size) * 0.5);
		padding: 0;
		float: left;
	}

	.view-header .navbuttons {
		width: fit-content;
		height: calc(var(--applet-header-height) - 4px);
		margin: 2px calc(var(--sidebar-icon-size) * 0.5);
		padding: 0;
		float: right;
	}

	.view-header .navbtn {
		width: 100px;
		height: calc(100% - 4px);
		color: inherit;
		cursor: pointer;
		margin: 2px 0 2px 2px;
		border-radius: 15px;
		background-color: var(--color-background-dark);
		box-shadow: inset -1px -1px 10px var(--color-background-Xdark);
		border: 2px solid var(--color-background-Xdark);
	}
	
	.view-header button.active {
		background-color: var(--color-background-Xlight);
		box-shadow: inset -1px -1px 10px var(--color-background-Xdark);
		border: 1px solid var(--color-background-Xdark);
	}

	.view-header button:hover {
		background-color: var(--color-background-accent-main);
	}

/* Style the view container header */
.view-body {
	width: calc(100% - 8px);
	max-width: calc(100% - 8px);
	height: calc(100% - var(--applet-header-height) - 4px);
	margin: 0px;
}

	.view-window {
		width: 100%;
		max-width: 100%;
		height: 100%;
		background-color: var(--color-background-light);
		border: 4px solid var(--color-background-Xdark);
		border-radius: 10px;
		padding: 10px;
		margin: 0;
	}

		.view-window.horiz {
			overflow-y: scroll;	
		}

		.view-window.vert {
			overflow-X: scroll;	
		}
		
	.view-section {
		width: 100%;
		max-width: 100%;
		background-color: var(--color-background-main);
		border-radius: 0 0 5px 5px;
		margin: 0 0 10px 0;
		padding: 10px ;
		padding-top: 10px;
	}



	.view-wrapper {
		margin-bottom: 10px;
	}


/* --+--+-- Link group in 'about' Client --+--+-- */
#link-group-wrapper {
	/* */
}

	#link-group-wrapper .container {
		margin: 0;
		padding: 0;
	}

	#link-group-wrapper .row {
		margin: 0 -3px 0 -3px;
	}

	#link-group-wrapper .col {
		margin: 0;
		padding: 0 3px 6px 3px;
	}

	.link-group-item {
		--link-height: 30px;
		display: flex;
		width: 100%;
		height: var(--link-height);
		background-color: var(--color-background-accent-main);
		border: solid 1px var(--color-background-accent-main);
		color: var(--color-font-main);
		border-radius: 5px;
		cursor: pointer;
		overflow: hidden;
		text-overflow: ellipsis;
		justify-content: center;
		text-decoration: none;
	}

	.link-group-item:hover * {
		color: var(--color-background-accent-dark);
	}
	
	.link-group-icon {
		width: var(--link-height);
		height: var(--link-height);
		margin: 0;
		padding: 0 0 0 0;
	}

	.link-group-icon svg {
		width: var(--link-height);
		height: var(--link-height);
		color: var(--color-font-main);
	}

	.link-group-name {
		height: var(--link-height);
		line-height: var(--link-height);
		overflow: hidden;
		white-space:nowrap;
		text-overflow: ellipsis;
		padding: 0 0 0 6px;
	}


/* --+--+----------------------------+--+-- */
/* --+--+-- SIDEBAR STYLES -----------+--+-- */
/* --+--+----------------------------+--+-- */

/* Toggle Button */
#sidebar-toggle-opener {
	transition-duration: 0s !important;
	transition-delay: 0.3s !important;
	transition-property: all !important;
	
	position: relative;
	float: left;

	top: 0x;
	right: 0px;
	height: calc(var(--sidebar-icon-size) + 2 * var(--sidebar-padding));
	width: calc(var(--sidebar-icon-size) * 0.4);
	min-width: 5px;

	border-top: 1px solid var(--color-background-Xdark);
	border-bottom: 1px solid var(--color-background-Xdark);
	border-right: 1px solid var(--color-background-Xdark);
	border-radius: 0 3px 3px 0;
	background-color: var(--color-background-Xdark);
	color: var(--color-font-main);
	padding: 0 0 0 0;
	margin-left: -1px;
	margin-right: calc((var(--sidebar-icon-size) * -0.4));
	z-index: 10000;
	
	display: flex;
	visibility: visible;
	
}

	#sidebar-toggle-opener svg {
		color: var(--color-background-Xlight);
		margin: auto;
	}

#sidebar-toggle-opener[aria-expanded="true"] {	
	width: 1px !important;
	margin-right: -4px;
}

	#sidebar-toggle-opener[aria-expanded="true"] svg {
		visibility: hidden;
	}

/* Main Sidebar Component */
#sidebar {
	height: 100%;
	width: 250px;
	max-width: 250px;
	float: left;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: var(--color-background-dark);
	border-right: 3px solid var(--color-background-Xdark);
	color: var(--color-font-main);
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border-left: none;
}

	#sidebar-wrapper {
		min-width: 250px;
		max-width: 250px;
		height: 100%;
		position: relative;
	}

	#sidebar svg {
		color: var(--color-font-main);
		margin: auto;
	}

	#sidebar * {
		-webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */
		white-space:nowrap;
	}

	#sidebar-header {
		background-color: var(--color-background-Xdark);
		position: relative;
		height: calc(var(--sidebar-icon-size) + 2 * var(--sidebar-padding));
		margin: 0 0 0 0;
		padding: var(--sidebar-padding);
	}
		
		/* Settings Button */
		#sidebar-settings {
			display: flex;
			float: left;
			height: var(--sidebar-icon-size);
			width: var(--sidebar-icon-size);
			border-radius: 5px;
			cursor: pointer;
		}

			/* Sidebar Setting Active */
			#sidebar-settings.activeSidebar {
				background-color: transparent !important;
			}

			#sidebar-settings.activeSidebar svg {
				color: var(--color-background-accent-main) !important;
			}


		/* Toggle Button */
		#sidebar-toggle-closer {
			display: flex;
			float: right;
			height: var(--sidebar-icon-size);
			width: var(--sidebar-icon-size);
			cursor: pointer;
		}

	/* Sidebar Section */
	.sidebar-section {
		background-color: var(--color-background-Xdark);
		color: var(--color-font-main);
		border-top: 1px solid var(--color-background-light);
		border-radius: 0;
		margin: 0 0 0 0;
		padding: calc(var(--sidebar-padding) / 2);
	}

		.activeSidebar {
			background-color: var(--color-background-accent-light) !important;
		}

		.activeSidebar * {
			display: inline-block !important;
		}

	/* Section Item */
	.sidebar-item {
		cursor: pointer;
		font-weight: bold;
		font-size: 1em;
		letter-spacing: 0.1em;
		padding: 0 0 0 0;
	}

		.sidebar-item-name {
			display: inline-block;
			max-inline-size: 60%;
			height: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			margin: 0 0 0 var(--sidebar-padding);
		}

		.sidebar-item-icon {
			float: right;
			background-color: transparent;
			border: none;
			margin: 0 calc(var(--sidebar-padding) * 2) 0 0;
			height: 100%;
		}

		.sidebar-item-toggle {
			transition: all 0.3s;
			transform: rotate(0turn);
		}

		.sidebar-item:not(.collapsed) > .sidebar-item-toggle {
			transform: rotate(0.5turn);
		}

	/* Section Subitem */
	.sidebar-subitem {
		cursor: pointer;
		position: relative;
		background-color: var(--color-background-light);
		height: calc((var(--sidebar-icon-size) * 1) + var(--sidebar-padding));
		font-size: 0.85em !important;
		font-weight: normal;
		border-radius: 3px;
		border-top: 1px solid var(--color-background-Xdark);
		border-bottom: 1px solid var(--color-background-dark);
		padding: var(--sidebar-padding) 0px 0px var(--sidebar-padding);
		margin: 0px 0px 0px 0px;
	}

		.subitem-wrapper {
			display: inline-block;
			margin: 0;
			padding: 0;
		}

		.sidebar-active-state-wrapper {
			display: inline-block;
			max-inline-size: calc(var(--sidebar-icon-size) * 0.5);
			height: calc(var(--sidebar-icon-size) * 1);
			width: calc(var(--sidebar-icon-size) * 1);
			overflow: hidden;


		}

		.active-state-icon {
			display: none;
			transform: rotate(0.75turn);
		}


#sidebar-all-clients {
	background-color: var(--color-background-dark);
	font-weight: bold;
}

#sidebar-new-client {
	background-color: var(--color-background-dark);
	font-weight: bold;
}

#sidebar-sample-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: var(--color-background-accent-main);
	color: var(--color-font-inverse);
	border-top: 2px solid var(--color-background-light);
}


/* --+--+----------------------------+--+-- */
/* --+--+-- FOOTER STYLES -----------+--+-- */
/* --+--+----------------------------+--+-- */
#footer {
	height: var(--footer-height);
	padding: 0;
	margin: 0;
	background-color: var(--color-background-accent-dark);
}